@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Syloti+Nagri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

.hover-underline-animation {
  display: inline-block;
  position: relative;
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.hover-underline-animation-2 {
  /* display: inline-block;
    position: relative; */
  text-align: center;
}
.hover-underline-animation-2::after {
  content: "";
  position: absolute;
  width: 95%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  text-align: center;
}
.hover-underline-animation-2:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  text-align: center;
}

.hover-underline-animation-3 {
  /* display: inline-block;
    position: relative; */
  text-align: center;
}
.hover-underline-animation-3::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  text-align: center;
}
.hover-underline-animation-3:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  text-align: center;
}

.lg-logo {
  width: 10%;
  height: 10%;
}
.imageContainer {
  position: relative;
  text-align: center;
  color: white;
  z-index: -1;
}

.imageContainerText{
  position: absolute;
  color: white;
  top: 25px;
}


.container {
  width: 100%;
}

.text {
  position: absolute;
  top: 25px;
  font-family: "san-serif";
  font-size: 4vw;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 50%;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in-anim 1.5s ease-out forwards;
}
.text2 {
  position: absolute;
  top: 2px;
  font-family: "san-serif";
  font-size: 4vw;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 50%;
  transform: translateX(-200%);
  opacity: 0;
  animation: slide-in-anim 1.5s ease-out forwards;
}
.text-h2 {
  font-family: "Lexend Deca", sans-serif;
  font-weight: bolder;

}
.text-p {
  font-weight: 500;
  font-family: "Noto Sans Syloti Nagri", sans-serif;
  text-align: start;
  margin-left: -30%;
  font-size: 3.5vw;
  text-align: center;
}

.carousel-wrapper{
  margin-left: 25%;
}


@keyframes slide-in-anim {
  20% {
    opacity: 0;
  }
  60% {
    transform: translateX(-45%);
  }
  75% {
    transform: translateX(-48%);
  }
  100% {
    opacity: 1;
    transform: translateX(-50%);
  }
}




@media screen and (max-width: 640px) {
  .lg-logo {
    width: 18.5%;
    height: 18.5%;
  }
  .text p {
    font-size: 10vw;
  }
  .text-h2{
    font-size: 4.5vw;
  }
}
